[Unit]
Description=KeyPilot Listener
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/keypilot
Restart=always
RestartSec=2
Environment=XDG_RUNTIME_DIR=%t
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=%t/bus
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target
